@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.content-box::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar,
.main-content .content-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  line-height: 1.5;
  background-color: #c9c7c0ff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.card {
  padding: 2em;
}

.sidebar {
  position: absolute;
  top: 0;
  color: white;
}

.main-content {
  transition: margin-left 0.3s ease;
}

.sidebar a {
  position: relative;
  text-decoration: none;
  color: #fff; /* Set your desired text color */
  margin-left: 3rem;
  margin-right: 3rem;
}

.sidebar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline as needed */
  bottom: 0;
  left: 0;
  background-color: #fff; /* Set your desired underline color */
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.sidebar a:hover::after {
  transform-origin: center;
  transform: scaleX(1);
}

/* SKILLBAR */

.skillbar {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin: auto;
}

.skillbar-bar:before {
  background: #ccc;
  content: "";
  height: 3px;
  position: absolute;
  width: 90%;
  z-index: -1;
}

.skillbar-bar {
  height: 3px;
  width: 0;
  background: #111;
  transition-property: width, background-color;
}

.skillbar-title {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.skill-bar-percent {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Media queries for responsiveness (optional) */
@media (max-width: 768px) {
  .skillbar-title,
  .skill-bar-percent {
    font-size: xxs; /* Adjust font size for smaller screens */
  }
}

.my-container {
  background-color: white;
  display: flex;
  opacity: 0.2;
  backdrop-filter: blur(16px);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: auto;

  /* Responsive Styles */
  @media (min-width: 768px) {
    /* Target screens wider than 768px (lg breakpoint) */
    padding: 1rem;
    margin: 1rem 2.8rem;
  }
}
